<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multimedia texnalogiyasi</title>
    <style>
        .center-text {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="center-text">
        <h1>"MULTIMEDIA TEXNOLOGIYALARI" KAFEDRASI<br>
             ELEKTRON O‘QUV QO‘LLANMALARI
            <h1>Elektron darsliklar</h1>
        </h1>
        <a href="{% url 'home'%}"><img src="https://www.texnoman.uz/uploads/blogs/513824fae2d0d7440de2308b9beb4980.jpg" alt="error"></a>
    </div>
</body>
</html>